@using WebsiteBanSach.Models;

@model List<CHUDE>


@foreach (var item in Model)
{
    <a href="@Url.Action("SachTheoChuDe",new {@MaChuDe=item.MaChuDe})" class="button button-submit"> @item.TenChuDe </a>
}
<br />
<a href="@Url.Action("DanhMucChuDe")" class="button button-submit"> Chủ đề khác... </a>
<br />
<div style="clear:both"></div>

