@using WebsiteBanSach.Models;
@model List<CHUDE>
@{
    ViewBag.Title = "DanhMucChuDe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@* Hiển thị danh mục chủ đề *@

    @foreach (var item in Model)
    {
        <a href="@Url.Action("SachTheoChuDe",new {@MaChuDe=item.MaChuDe})" class="button button-submit" style="
    display: flex;
    justify-content: space-around;
    margin: 0rem 34rem;
"> @item.TenChuDe </a>
<br />
}



